<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulário C. Banrisul</title>
</head>
<body>
    <h1>Formulário C. Banrisul</h1>
    <form action="/processar-formulario" method="post">
        <!-- Campos do formulário -->
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" required>
        <!-- Adicione os outros campos do formulário aqui com rótulos e entradas de dados correspondentes -->

        <input type="submit" value="Enviar">
    </form>
</body>
</html>
