<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/home.css">
    <title>Engenharia</title>
</head>
<body>
    <nav>
        <h1>Engenharia Section</h1>
    </nav>
    <section class="engenharia">
        <div>
            <h1>Engenharia Section</h1>
            <!-- Botões para os links desejados -->
            <button><a href="link_para_Correios.html">C. Correios</a></button>
            <button><a href="/Banrisul">C. Banrisul</a></button>
            <button><a href="link_para_Serpro.html">C. Serpro</a></button>
            <button><a href="link_para_Tres.html">C. Três</a></button>
        </div>
    </section>
</body>
</html>
