<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/home.css">
    <title>Sistema de gerenciamento interno</title>
</head>
<body>
    <nav>

        <div class="logo">
            <a href="/fundo2.jpg"> Sistema de gerenciamento Interno </a>
        </div>

        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="/engenharia">Engenharia</a></li>
          <li><a href="/contratos">Contratos</a></li>
      </ul>
      
    </nav>
    <section class="banner">
           </div>
        </div>
    </section>
</body>

<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
</html>







